name: make lint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Check-out repository under GitHub workspace
      # https://github.com/actions/checkout
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        name: 'setup node'
        with:
          node-version: '13.x'
      - name: Install modules
        run: make install
      - name: Run linter
        run: make lint
        with:
          path: ./node_modules/.bin/eslint
